<main class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-sm navbar_cor d-flex justify-content-center mb-5">
                <a class="navbar-brand" href="#">TETRIS</a>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <difficulty-component #difficulty [attr.readonly]="!gameStarted"></difficulty-component>
            <p>Pontuação: {{ points }}</p>
            <p>Linhas: {{ lines }}</p>
            <p>Level: {{ level }}</p>
            <p>Pont. Máxima:{{ highScore }}</p>
            <p>Próximo Bloco:</p>
            <canvas #next class="next"></canvas>
        </div>
        <div class="col-md-9">
            <canvas #board class="tabuleiro"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2 mt-3 d-flex justify-content-around botoes">
            <input class="btn btn-light rounded-circle p-2" type="button" value="☼" (click)="onGamePadClick(1)">
            <input class="btn btn-light rounded-circle p-2" type="button" value="◄" (click)="onGamePadClick(3)">
            <input class="btn btn-light rounded-circle p-2" type="button" value="▼" (click)="onGamePadClick(2)">
            <input class="btn btn-light rounded-circle p-2" type="button" value="►" (click)="onGamePadClick(4)">
        </div>
    </div>
    <div class="row botoes_comando">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <button (click)="play()" *ngIf="!gameStarted" class="btn btn-sm btn-success my-2">
                Jogar
            </button>
            <button (click)="gameOver()" *ngIf="gameStarted" class="btn btn-sm btn-danger my-2">
                Resetar
            </button>
            <button (click)="pause()" [class.button-disabled]="!gameStarted" class="btn btn-sm btn-warning">
                Pausar
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>2021 &copy; Elis Marcela, Margareth Breis, Natali Lucas, Nigério Bezerra, Pamela Oliveira</p>
        </div>
    </div>

</main>